<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Proportional_Numbers</key>
  <array>
    <string>zero.pnum</string>
    <string>one.pnum</string>
    <string>two.pnum</string>
    <string>three.pnum</string>
    <string>four.pnum</string>
    <string>five.pnum</string>
    <string>six.pnum</string>
    <string>seven.pnum</string>
    <string>eight.pnum</string>
    <string>nine.pnum</string>
  </array>
  <key>Tabular_Numbers</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>aalt</key>
  <array>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>uni0162</string>
    <string>uni0163</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni0162</string>
    <string>uni0163</string>
  </array>
  <key>cyrlDFLT</key>
  <array>
    <string>uni0414</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044E</string>
    <string>uni045D</string>
  </array>
  <key>cyrl_italic</key>
  <array>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
  </array>
  <key>cyrl_oblique</key>
  <array>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0446</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
  </array>
  <key>loclBGR</key>
  <array>
    <string>uni0414.loclBGR</string>
    <string>uni041A.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0443.loclBGR</string>
    <string>uni0444.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni045D.loclBGR</string>
  </array>
  <key>public.kern1.UC_lat_A_kern</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>uni01DE</string>
    <string>uni01E0</string>
    <string>uni0200</string>
    <string>uni0202</string>
    <string>uni0226</string>
    <string>uni1E00</string>
    <string>uni1EA0</string>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EAA</string>
    <string>uni1EAC</string>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB4</string>
    <string>uni1EB6</string>
  </array>
  <key>public.kern1.UC_lat_B_kern</key>
  <array>
    <string>B</string>
    <string>uni1E02</string>
    <string>uni1E04</string>
    <string>uni1E06</string>
  </array>
  <key>public.kern1.UC_lat_D_kern</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
    <string>uni1E0A</string>
    <string>uni1E0C</string>
    <string>uni1E0E</string>
    <string>uni1E10</string>
    <string>uni1E12</string>
  </array>
  <key>public.kern1.UC_lat_F_kern</key>
  <array>
    <string>F</string>
    <string>uni1E1E</string>
  </array>
  <key>public.kern1.UC_lat_K_kern</key>
  <array>
    <string>K</string>
    <string>Kcaron</string>
    <string>Kcommaaccent</string>
    <string>uni1E30</string>
    <string>uni1E32</string>
    <string>uni1E34</string>
  </array>
  <key>public.kern1.UC_lat_L_kern</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>uni1E36</string>
    <string>uni1E38</string>
    <string>uni1E3A</string>
    <string>uni1E3C</string>
  </array>
  <key>public.kern1.UC_lat_O_kern</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexdotbelow</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>uni01EA</string>
    <string>uni01EC</string>
    <string>uni020C</string>
    <string>uni020E</string>
    <string>uni022A</string>
    <string>uni022C</string>
    <string>uni022E</string>
    <string>uni0230</string>
    <string>uni1E4C</string>
    <string>uni1E4E</string>
    <string>uni1E50</string>
    <string>uni1E52</string>
    <string>uni1ECC</string>
    <string>uni1ED0</string>
    <string>uni1ED2</string>
    <string>uni1ED6</string>
  </array>
  <key>public.kern1.UC_lat_P_kern</key>
  <array>
    <string>P</string>
    <string>uni1E54</string>
    <string>uni1E56</string>
  </array>
  <key>public.kern1.UC_lat_R_kern</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>uni0210</string>
    <string>uni0212</string>
    <string>uni1E58</string>
    <string>uni1E5A</string>
    <string>uni1E5C</string>
    <string>uni1E5E</string>
  </array>
  <key>public.kern1.UC_lat_S_kern</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Sdotbelow</string>
    <string>uni0218</string>
    <string>uni1E60</string>
    <string>uni1E66</string>
    <string>uni1E68</string>
  </array>
  <key>public.kern1.UC_lat_T_kern</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>uni1E6A</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
    <string>uni1E70</string>
  </array>
  <key>public.kern1.UC_lat_V_kern</key>
  <array>
    <string>V</string>
    <string>uni1E7C</string>
    <string>uni1E7E</string>
  </array>
  <key>public.kern1.UC_lat_Y_kern</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni0232</string>
    <string>uni1E8E</string>
    <string>uni1EF4</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern2.kern_UC_lat_A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>uni01DE</string>
    <string>uni01E0</string>
    <string>uni0200</string>
    <string>uni0202</string>
    <string>uni0226</string>
    <string>uni1E00</string>
    <string>uni1EA0</string>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EAA</string>
    <string>uni1EAC</string>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB4</string>
    <string>uni1EB6</string>
  </array>
  <key>public.kern2.kern_UC_lat_C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>uni1E08</string>
  </array>
  <key>public.kern2.kern_UC_lat_G</key>
  <array>
    <string>G</string>
    <string>Gacute</string>
    <string>Gbreve</string>
    <string>Gcaron</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>uni0193</string>
    <string>uni1E20</string>
  </array>
  <key>public.kern2.kern_UC_lat_J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2.kern_UC_lat_O</key>
  <array>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexdotbelow</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>uni01EA</string>
    <string>uni01EC</string>
    <string>uni020C</string>
    <string>uni020E</string>
    <string>uni022A</string>
    <string>uni022C</string>
    <string>uni022E</string>
    <string>uni0230</string>
    <string>uni1E4C</string>
    <string>uni1E4E</string>
    <string>uni1E50</string>
    <string>uni1E52</string>
    <string>uni1ECC</string>
    <string>uni1ED0</string>
    <string>uni1ED2</string>
    <string>uni1ED6</string>
  </array>
  <key>public.kern2.kern_UC_lat_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Sdotbelow</string>
    <string>uni0218</string>
    <string>uni1E60</string>
    <string>uni1E66</string>
    <string>uni1E68</string>
  </array>
  <key>public.kern2.kern_UC_lat_T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>uni1E6A</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
    <string>uni1E70</string>
  </array>
  <key>public.kern2.kern_UC_lat_U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucaron</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udieresisbelow</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>Utildebelow</string>
    <string>uni01D5</string>
    <string>uni01D7</string>
    <string>uni0214</string>
    <string>uni0216</string>
    <string>uni1E76</string>
  </array>
  <key>public.kern2.kern_UC_lat_V</key>
  <array>
    <string>V</string>
    <string>uni1E7C</string>
    <string>uni1E7E</string>
  </array>
  <key>public.kern2.kern_UC_lat_W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>uni1E86</string>
    <string>uni1E88</string>
  </array>
  <key>public.kern2.kern_UC_lat_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni0232</string>
    <string>uni1E8E</string>
    <string>uni1EF4</string>
    <string>uni1EF8</string>
  </array>
</dict>
</plist>
