<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.fontlab.v2.tth</key>
		<dict>
			<key>zones</key>
			<dict>
				<key>base</key>
				<dict>
					<key>position</key>
					<integer>0</integer>
					<key>top</key>
					<false/>
					<key>width</key>
					<integer>14</integer>
				</dict>
				<key>dsc</key>
				<dict>
					<key>position</key>
					<integer>-199</integer>
					<key>top</key>
					<false/>
					<key>width</key>
					<integer>0</integer>
				</dict>
				<key>xhgt</key>
				<dict>
					<key>position</key>
					<integer>500</integer>
					<key>top</key>
					<true/>
					<key>width</key>
					<integer>15</integer>
				</dict>
			</dict>
		</dict>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.4.2
1633286695.4 fontinfo.plist
1633286695.4 layercontents.plist
1633286695.4 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>NULL</string>
			<string>uni000D</string>
			<string>space</string>
			<string>A</string>
			<string>AE</string>
			<string>AEacute</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acaron</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Alpha</string>
			<string>Alphatonos</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Aringacute</string>
			<string>Atilde</string>
			<string>B</string>
			<string>Beta</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Chi</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>uni2206</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eng</string>
			<string>Eogonek</string>
			<string>Epsilon</string>
			<string>Epsilontonos</string>
			<string>Eta</string>
			<string>Etatonos</string>
			<string>Eth</string>
			<string>Euro</string>
			<string>F</string>
			<string>G</string>
			<string>Gacute</string>
			<string>Gamma</string>
			<string>Gbreve</string>
			<string>Gcaron</string>
			<string>Gcedilla</string>
			<string>Gcircumflex</string>
			<string>Gdotaccent</string>
			<string>H</string>
			<string>Hbar</string>
			<string>Hcaron</string>
			<string>Hcircumflex</string>
			<string>I</string>
			<string>IJ</string>
			<string>Iacute</string>
			<string>Ibreve</string>
			<string>Icaron</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Iota</string>
			<string>Iotadieresis</string>
			<string>Iotatonos</string>
			<string>Itilde</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>K</string>
			<string>Kappa</string>
			<string>Kcaron</string>
			<string>Kcedilla</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lambda</string>
			<string>Lcaron</string>
			<string>Lcedilla</string>
			<string>Ldot</string>
			<string>Lslash</string>
			<string>M</string>
			<string>Mu</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncedilla</string>
			<string>Ntilde</string>
			<string>Nu</string>
			<string>O</string>
			<string>OE</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocaron</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Omega</string>
			<string>Omicron</string>
			<string>Omicrontonos</string>
			<string>Oslash</string>
			<string>Oslashacute</string>
			<string>Otilde</string>
			<string>P</string>
			<string>Phi</string>
			<string>Pi</string>
			<string>Psi</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcedilla</string>
			<string>Rho</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scircumflex</string>
			<string>Scommaaccent</string>
			<string>Sigma</string>
			<string>T</string>
			<string>Tau</string>
			<string>Tbar</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Theta</string>
			<string>Thorn</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucaron</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Upsilon</string>
			<string>Upsilondieresis</string>
			<string>Uring</string>
			<string>Utilde</string>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Xi</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>Zeta</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acaron</string>
			<string>acircumflex</string>
			<string>acute</string>
			<string>acutecomb</string>
			<string>adieresis</string>
			<string>ae</string>
			<string>aeacute</string>
			<string>agrave</string>
			<string>alpha</string>
			<string>alphatonos</string>
			<string>amacron</string>
			<string>ampersand</string>
			<string>aogonek</string>
			<string>approxequal</string>
			<string>aring</string>
			<string>aringacute</string>
			<string>asciicircum</string>
			<string>asciitilde</string>
			<string>asterisk</string>
			<string>at</string>
			<string>atilde</string>
			<string>b</string>
			<string>backslash</string>
			<string>bar</string>
			<string>beta</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>breve</string>
			<string>brokenbar</string>
			<string>bullet</string>
			<string>c</string>
			<string>cacute</string>
			<string>caron</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>ccircumflex</string>
			<string>cdotaccent</string>
			<string>cedilla</string>
			<string>cent</string>
			<string>chi</string>
			<string>circumflex</string>
			<string>colon</string>
			<string>comma</string>
			<string>copyright</string>
			<string>currency</string>
			<string>d</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>degree</string>
			<string>delta</string>
			<string>dieresis</string>
			<string>divide</string>
			<string>dollar</string>
			<string>dotaccent</string>
			<string>dotbelowcomb</string>
			<string>dotlessi</string>
			<string>e</string>
			<string>eacute</string>
			<string>ebreve</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>eight</string>
			<string>ellipsis</string>
			<string>emacron</string>
			<string>emdash</string>
			<string>endash</string>
			<string>eng</string>
			<string>eogonek</string>
			<string>epsilon</string>
			<string>epsilontonos</string>
			<string>equal</string>
			<string>estimated</string>
			<string>eta</string>
			<string>etatonos</string>
			<string>eth</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>f</string>
			<string>f_f</string>
			<string>f_f_i</string>
			<string>f_f_j</string>
			<string>f_f_l</string>
			<string>f_j</string>
			<string>f_t</string>
			<string>fi</string>
			<string>five</string>
			<string>fl</string>
			<string>florin</string>
			<string>four</string>
			<string>fraction</string>
			<string>g</string>
			<string>gacute</string>
			<string>gamma</string>
			<string>gbreve</string>
			<string>gcaron</string>
			<string>gcedilla</string>
			<string>gcircumflex</string>
			<string>gdotaccent</string>
			<string>germandbls</string>
			<string>grave</string>
			<string>gravecomb</string>
			<string>greater</string>
			<string>greaterequal</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>h</string>
			<string>hbar</string>
			<string>hcaron</string>
			<string>hcircumflex</string>
			<string>hookabovecomb</string>
			<string>hungarumlaut</string>
			<string>hyphen</string>
			<string>i</string>
			<string>iacute</string>
			<string>ibreve</string>
			<string>icaron</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>ij</string>
			<string>imacron</string>
			<string>infinity</string>
			<string>integral</string>
			<string>iogonek</string>
			<string>iota</string>
			<string>iotadieresis</string>
			<string>iotatonos</string>
			<string>itilde</string>
			<string>j</string>
			<string>j.dotless</string>
			<string>jcaron</string>
			<string>jcircumflex</string>
			<string>k</string>
			<string>kappa</string>
			<string>kcaron</string>
			<string>kcedilla</string>
			<string>kgreenlandic</string>
			<string>l</string>
			<string>lacute</string>
			<string>lambda</string>
			<string>lcaron</string>
			<string>lcedilla</string>
			<string>ldot</string>
			<string>less</string>
			<string>lessequal</string>
			<string>logicalnot</string>
			<string>longs</string>
			<string>uni1FE3</string>
			<string>lozenge</string>
			<string>lslash</string>
			<string>m</string>
			<string>macron</string>
			<string>minus</string>
			<string>mu</string>
			<string>multiply</string>
			<string>n</string>
			<string>nacute</string>
			<string>napostrophe</string>
			<string>nbspace</string>
			<string>ncaron</string>
			<string>ncedilla</string>
			<string>nine</string>
			<string>notequal</string>
			<string>ntilde</string>
			<string>nu</string>
			<string>numbersign</string>
			<string>o</string>
			<string>oacute</string>
			<string>obreve</string>
			<string>ocaron</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>oe</string>
			<string>ogonek</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>omega</string>
			<string>omegatonos</string>
			<string>omicron</string>
			<string>omicrontonos</string>
			<string>one</string>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>onesuperior</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>oslash</string>
			<string>oslashacute</string>
			<string>otilde</string>
			<string>p</string>
			<string>paragraph</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>partialdiff</string>
			<string>percent</string>
			<string>period</string>
			<string>periodcentered</string>
			<string>perthousand</string>
			<string>phi</string>
			<string>pi</string>
			<string>plus</string>
			<string>plusminus</string>
			<string>product</string>
			<string>psi</string>
			<string>q</string>
			<string>question</string>
			<string>questiondown</string>
			<string>quotedbl</string>
			<string>quotedblbase</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotesinglbase</string>
			<string>quotesingle</string>
			<string>r</string>
			<string>racute</string>
			<string>radical</string>
			<string>rcaron</string>
			<string>rcedilla</string>
			<string>registered</string>
			<string>rho</string>
			<string>ring</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scircumflex</string>
			<string>scommaaccent</string>
			<string>section</string>
			<string>semicolon</string>
			<string>seven</string>
			<string>sigma</string>
			<string>sigma1</string>
			<string>six</string>
			<string>slash</string>
			<string>sterling</string>
			<string>summation</string>
			<string>t</string>
			<string>tau</string>
			<string>tbar</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>theta</string>
			<string>theta1</string>
			<string>thorn</string>
			<string>three</string>
			<string>threequarters</string>
			<string>threesuperior</string>
			<string>tilde</string>
			<string>tildecomb</string>
			<string>trademark</string>
			<string>two</string>
			<string>twosuperior</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucaron</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>underscore</string>
			<string>uni00AD</string>
			<string>uni0189</string>
			<string>uni019E</string>
			<string>uni01C0</string>
			<string>uni01C1</string>
			<string>uni01C2</string>
			<string>uni01C3</string>
			<string>uni01C4</string>
			<string>uni01C5</string>
			<string>uni01C6</string>
			<string>uni01C7</string>
			<string>uni01C8</string>
			<string>uni01C9</string>
			<string>uni01CA</string>
			<string>uni01CB</string>
			<string>uni01CC</string>
			<string>uni01D5</string>
			<string>uni01D6</string>
			<string>uni01D7</string>
			<string>uni01D8</string>
			<string>uni01D9</string>
			<string>uni01DA</string>
			<string>uni01DB</string>
			<string>uni01DC</string>
			<string>uni01DD</string>
			<string>uni01DE</string>
			<string>uni01DF</string>
			<string>uni01E0</string>
			<string>uni01E1</string>
			<string>uni01E2</string>
			<string>uni01E3</string>
			<string>uni01EA</string>
			<string>uni01EB</string>
			<string>uni01EC</string>
			<string>uni01ED</string>
			<string>uni01EF</string>
			<string>uni01F1</string>
			<string>uni01F2</string>
			<string>uni01F3</string>
			<string>uni01F8</string>
			<string>uni01F9</string>
			<string>uni0200</string>
			<string>uni0201</string>
			<string>uni0202</string>
			<string>uni0203</string>
			<string>uni0204</string>
			<string>uni0205</string>
			<string>uni0206</string>
			<string>uni0207</string>
			<string>uni0208</string>
			<string>uni0209</string>
			<string>uni020A</string>
			<string>uni020B</string>
			<string>uni020C</string>
			<string>uni020D</string>
			<string>uni020E</string>
			<string>uni020F</string>
			<string>uni0210</string>
			<string>uni0211</string>
			<string>uni0212</string>
			<string>uni0213</string>
			<string>uni0214</string>
			<string>uni0215</string>
			<string>uni0216</string>
			<string>uni0217</string>
			<string>uni021A</string>
			<string>uni021B</string>
			<string>uni0226</string>
			<string>uni0227</string>
			<string>uni0228</string>
			<string>uni0229</string>
			<string>uni022A</string>
			<string>uni022B</string>
			<string>uni022C</string>
			<string>uni022D</string>
			<string>uni022E</string>
			<string>uni022F</string>
			<string>uni0230</string>
			<string>uni0231</string>
			<string>uni0232</string>
			<string>uni0233</string>
			<string>uni0250</string>
			<string>uni0251</string>
			<string>uni0252</string>
			<string>uni0253</string>
			<string>uni0254</string>
			<string>uni0255</string>
			<string>uni0256</string>
			<string>uni0257</string>
			<string>uni0258</string>
			<string>uni0259</string>
			<string>uni025A</string>
			<string>uni025B</string>
			<string>uni025C</string>
			<string>uni025F</string>
			<string>uni0260</string>
			<string>uni0261</string>
			<string>uni0262</string>
			<string>uni0263</string>
			<string>uni0264</string>
			<string>uni0265</string>
			<string>uni0266</string>
			<string>uni0267</string>
			<string>uni0268</string>
			<string>uni0269</string>
			<string>uni026A</string>
			<string>uni026B</string>
			<string>uni026C</string>
			<string>uni026D</string>
			<string>uni026E</string>
			<string>uni026F</string>
			<string>uni0270</string>
			<string>uni0271</string>
			<string>uni0272</string>
			<string>uni0273</string>
			<string>uni0274</string>
			<string>uni0275</string>
			<string>uni0276</string>
			<string>uni0278</string>
			<string>uni0279</string>
			<string>uni027A</string>
			<string>uni027B</string>
			<string>uni027C</string>
			<string>uni027D</string>
			<string>uni027E</string>
			<string>uni027F</string>
			<string>uni0280</string>
			<string>uni0281</string>
			<string>uni0282</string>
			<string>uni0283</string>
			<string>uni0284</string>
			<string>uni0287</string>
			<string>uni0288</string>
			<string>uni0289</string>
			<string>uni028A</string>
			<string>uni028B</string>
			<string>uni028C</string>
			<string>uni028D</string>
			<string>uni028E</string>
			<string>uni028F</string>
			<string>uni0290</string>
			<string>uni0291</string>
			<string>uni0292</string>
			<string>uni0294</string>
			<string>uni0295</string>
			<string>uni0298</string>
			<string>uni0299</string>
			<string>uni029B</string>
			<string>uni029C</string>
			<string>uni029D</string>
			<string>uni029F</string>
			<string>uni02A0</string>
			<string>uni02A1</string>
			<string>uni02A2</string>
			<string>uni02AF</string>
			<string>uni02B0</string>
			<string>uni02B7</string>
			<string>uni02BC</string>
			<string>uni02D0</string>
			<string>uni02D1</string>
			<string>uni02DE</string>
			<string>uni02E0</string>
			<string>uni02E4</string>
			<string>uni02E5</string>
			<string>uni02E6</string>
			<string>uni02E7</string>
			<string>uni02E8</string>
			<string>uni02E9</string>
			<string>uni0302</string>
			<string>uni0305</string>
			<string>uni0306</string>
			<string>uni0307</string>
			<string>uni0308</string>
			<string>uni030A</string>
			<string>uni030B</string>
			<string>uni030C</string>
			<string>uni030D</string>
			<string>uni030E</string>
			<string>uni030F</string>
			<string>uni0310</string>
			<string>uni0311</string>
			<string>uni0316</string>
			<string>uni0317</string>
			<string>uni0318</string>
			<string>uni0319</string>
			<string>uni031C</string>
			<string>uni031D</string>
			<string>uni031E</string>
			<string>uni0320</string>
			<string>uni0324</string>
			<string>uni0325</string>
			<string>uni0326</string>
			<string>uni032A</string>
			<string>uni032F</string>
			<string>uni0339</string>
			<string>uni033B</string>
			<string>uni033C</string>
			<string>uni035C</string>
			<string>uni0361</string>
			<string>uni03D0</string>
			<string>uni0400</string>
			<string>uni0401</string>
			<string>uni0403</string>
			<string>uni0404</string>
			<string>uni0405</string>
			<string>uni0406</string>
			<string>uni0407</string>
			<string>uni0408</string>
			<string>uni040C</string>
			<string>uni040D</string>
			<string>uni040E</string>
			<string>uni0410</string>
			<string>uni0411</string>
			<string>uni0412</string>
			<string>uni0413</string>
			<string>uni0414.loclBGR</string>
			<string>uni0414</string>
			<string>uni0415</string>
			<string>uni0416</string>
			<string>uni0417</string>
			<string>uni0418</string>
			<string>uni0419</string>
			<string>uni041A</string>
			<string>uni041B.loclBGR</string>
			<string>uni041B</string>
			<string>uni041C</string>
			<string>uni041D</string>
			<string>uni041E</string>
			<string>uni041F</string>
			<string>uni0420</string>
			<string>uni0421</string>
			<string>uni0422</string>
			<string>uni0423</string>
			<string>uni0424</string>
			<string>uni0424.loclBGR</string>
			<string>uni0425</string>
			<string>uni0426</string>
			<string>uni0427</string>
			<string>uni0428</string>
			<string>uni0429</string>
			<string>uni042A</string>
			<string>uni042B</string>
			<string>uni042C</string>
			<string>uni042D</string>
			<string>uni042E</string>
			<string>uni042F</string>
			<string>uni0430</string>
			<string>uni0431</string>
			<string>uni0432.loclBGR</string>
			<string>uni0432</string>
			<string>uni0433.loclBGR</string>
			<string>uni0433</string>
			<string>uni0434.loclBGR</string>
			<string>uni0434</string>
			<string>uni0435</string>
			<string>uni0436.loclBGR</string>
			<string>uni0436</string>
			<string>uni0437.loclBGR</string>
			<string>uni0437</string>
			<string>uni0438.loclBGR</string>
			<string>uni0438</string>
			<string>uni0439.loclBGR</string>
			<string>uni0439</string>
			<string>uni043A.loclBGR</string>
			<string>uni043A</string>
			<string>uni043B.loclBGR</string>
			<string>uni043B</string>
			<string>uni043C</string>
			<string>uni043D</string>
			<string>uni043E</string>
			<string>uni043F.loclBGR</string>
			<string>uni043F</string>
			<string>uni0440</string>
			<string>uni0441</string>
			<string>uni0442.loclBGR</string>
			<string>uni0442</string>
			<string>uni0443</string>
			<string>uni0444</string>
			<string>uni0444.loclBGR</string>
			<string>uni0445</string>
			<string>uni0446.loclBGR</string>
			<string>uni0446</string>
			<string>uni0447.loclBGR</string>
			<string>uni0447</string>
			<string>uni0448.loclBGR</string>
			<string>uni0448</string>
			<string>uni0449.loclBGR</string>
			<string>uni0449</string>
			<string>uni044A.loclBGR</string>
			<string>uni044A</string>
			<string>uni044B.loclBGR</string>
			<string>uni044B</string>
			<string>uni044C.loclBGR</string>
			<string>uni044C</string>
			<string>uni044D</string>
			<string>uni044E.loclBGR</string>
			<string>uni044E</string>
			<string>uni044F</string>
			<string>uni0450</string>
			<string>uni0451</string>
			<string>uni0453</string>
			<string>uni0454</string>
			<string>uni0455</string>
			<string>uni0456</string>
			<string>uni0457</string>
			<string>uni0458</string>
			<string>uni045C</string>
			<string>uni045D</string>
			<string>uni045D.loclBGR</string>
			<string>uni045E</string>
			<string>uni04C1</string>
			<string>uni04C2</string>
			<string>uni04D0</string>
			<string>uni04D1</string>
			<string>uni04D2</string>
			<string>uni04D3</string>
			<string>uni04D4</string>
			<string>uni04D5</string>
			<string>uni04D6</string>
			<string>uni04D7</string>
			<string>uni04D9</string>
			<string>uni04DB</string>
			<string>uni04DC</string>
			<string>uni04DD</string>
			<string>uni04DE</string>
			<string>uni04DF</string>
			<string>uni04E1</string>
			<string>uni04E2</string>
			<string>uni04E3</string>
			<string>uni04E4</string>
			<string>uni04E5</string>
			<string>uni04E6</string>
			<string>uni04E7</string>
			<string>uni04EC</string>
			<string>uni04ED</string>
			<string>uni04EE</string>
			<string>uni04EF</string>
			<string>uni04F0</string>
			<string>uni04F1</string>
			<string>uni04F2</string>
			<string>uni04F3</string>
			<string>uni04F4</string>
			<string>uni04F5</string>
			<string>uni04F8</string>
			<string>uni04F9</string>
			<string>uni1E00</string>
			<string>uni1E01</string>
			<string>uni1E02</string>
			<string>uni1E03</string>
			<string>uni1E04</string>
			<string>uni1E05</string>
			<string>uni1E06</string>
			<string>uni1E07</string>
			<string>uni1E08</string>
			<string>uni1E09</string>
			<string>uni1E0A</string>
			<string>uni1E0B</string>
			<string>uni1E0C</string>
			<string>uni1E0D</string>
			<string>uni1E0E</string>
			<string>uni1E0F</string>
			<string>uni1E10</string>
			<string>uni1E11</string>
			<string>uni1E12</string>
			<string>uni1E13</string>
			<string>uni1E14</string>
			<string>uni1E15</string>
			<string>uni1E16</string>
			<string>uni1E17</string>
			<string>uni1E18</string>
			<string>uni1E19</string>
			<string>uni1E1A</string>
			<string>uni1E1B</string>
			<string>uni1E1C</string>
			<string>uni1E1D</string>
			<string>uni1E1E</string>
			<string>uni1E1F</string>
			<string>uni1E20</string>
			<string>uni1E21</string>
			<string>uni1E22</string>
			<string>uni1E23</string>
			<string>uni1E24</string>
			<string>uni1E25</string>
			<string>uni1E26</string>
			<string>uni1E27</string>
			<string>uni1E28</string>
			<string>uni1E29</string>
			<string>uni1E2A</string>
			<string>uni1E2B</string>
			<string>uni1E2C</string>
			<string>uni1E2D</string>
			<string>uni1E2E</string>
			<string>uni1E2F</string>
			<string>uni1E30</string>
			<string>uni1E31</string>
			<string>uni1E32</string>
			<string>uni1E33</string>
			<string>uni1E34</string>
			<string>uni1E35</string>
			<string>uni1E36</string>
			<string>uni1E37</string>
			<string>uni1E38</string>
			<string>uni1E39</string>
			<string>uni1E3A</string>
			<string>uni1E3B</string>
			<string>uni1E3C</string>
			<string>uni1E3D</string>
			<string>uni1E3E</string>
			<string>uni1E3F</string>
			<string>uni1E40</string>
			<string>uni1E41</string>
			<string>uni1E42</string>
			<string>uni1E43</string>
			<string>uni1E44</string>
			<string>uni1E45</string>
			<string>uni1E46</string>
			<string>uni1E47</string>
			<string>uni1E49</string>
			<string>uni1E4C</string>
			<string>uni1E4D</string>
			<string>uni1E4E</string>
			<string>uni1E4F</string>
			<string>uni1E50</string>
			<string>uni1E51</string>
			<string>uni1E52</string>
			<string>uni1E54</string>
			<string>uni1E55</string>
			<string>uni1E56</string>
			<string>uni1E57</string>
			<string>uni1E58</string>
			<string>uni1E59</string>
			<string>uni1E5A</string>
			<string>uni1E5B</string>
			<string>uni1E5C</string>
			<string>uni1E5D</string>
			<string>uni1E5E</string>
			<string>uni1E5F</string>
			<string>uni1E60</string>
			<string>uni1E61</string>
			<string>uni1E63</string>
			<string>uni1E66</string>
			<string>uni1E67</string>
			<string>uni1E68</string>
			<string>uni1E69</string>
			<string>uni1E6A</string>
			<string>uni1E6B</string>
			<string>uni1E6C</string>
			<string>uni1E6D</string>
			<string>uni1E6E</string>
			<string>uni1E6F</string>
			<string>uni1E70</string>
			<string>uni1E71</string>
			<string>uni1E73</string>
			<string>uni1E76</string>
			<string>uni1E77</string>
			<string>uni1E78</string>
			<string>uni1E79</string>
			<string>uni1E7A</string>
			<string>uni1E7B</string>
			<string>uni1E7C</string>
			<string>uni1E7D</string>
			<string>uni1E7E</string>
			<string>uni1E7F</string>
			<string>uni1E86</string>
			<string>uni1E87</string>
			<string>uni1E88</string>
			<string>uni1E89</string>
			<string>uni1E8A</string>
			<string>uni1E8B</string>
			<string>uni1E8C</string>
			<string>uni1E8D</string>
			<string>uni1E8E</string>
			<string>uni1E8F</string>
			<string>uni1E90</string>
			<string>uni1E91</string>
			<string>uni1E92</string>
			<string>uni1E93</string>
			<string>uni1E94</string>
			<string>uni1E95</string>
			<string>uni1E96</string>
			<string>uni1E97</string>
			<string>uni1E98</string>
			<string>uni1E99</string>
			<string>uni1EA0</string>
			<string>uni1EA1</string>
			<string>uni1EA4</string>
			<string>uni1EA5</string>
			<string>uni1EA6</string>
			<string>uni1EA7</string>
			<string>uni1EAA</string>
			<string>uni1EAB</string>
			<string>uni1EAC</string>
			<string>uni1EAD</string>
			<string>uni1EAE</string>
			<string>uni1EAF</string>
			<string>uni1EB0</string>
			<string>uni1EB1</string>
			<string>uni1EB4</string>
			<string>uni1EB5</string>
			<string>uni1EB6</string>
			<string>uni1EB7</string>
			<string>uni1EB8</string>
			<string>uni1EB9</string>
			<string>uni1EBC</string>
			<string>uni1EBD</string>
			<string>uni1EBE</string>
			<string>uni1EBF</string>
			<string>uni1EC0</string>
			<string>uni1EC1</string>
			<string>uni1EC4</string>
			<string>uni1EC5</string>
			<string>uni1EC6</string>
			<string>uni1EC7</string>
			<string>uni1ECA</string>
			<string>uni1ECB</string>
			<string>uni1ECC</string>
			<string>uni1ECD</string>
			<string>uni1ED0</string>
			<string>uni1ED1</string>
			<string>uni1ED2</string>
			<string>uni1ED3</string>
			<string>uni1ED6</string>
			<string>uni1EF4</string>
			<string>uni1EF5</string>
			<string>uni1EF8</string>
			<string>uni1EF9</string>
			<string>uni1F78</string>
			<string>uni1FB8</string>
			<string>uni1FB9</string>
			<string>uni1FBD</string>
			<string>uni1FBF</string>
			<string>uni1FC0</string>
			<string>uni1FC1</string>
			<string>uni1FE4</string>
			<string>uni1FED</string>
			<string>uni1FFD</string>
			<string>uni2010</string>
			<string>uni2015</string>
			<string>uni201F</string>
			<string>uni2023</string>
			<string>uni2116</string>
			<string>uogonek</string>
			<string>upsilon</string>
			<string>upsilondieresis</string>
			<string>upsilondieresistonos</string>
			<string>upsilontonos</string>
			<string>uring</string>
			<string>utilde</string>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>xi</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>yen</string>
			<string>ygrave</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>zero</string>
			<string>zeta</string>
			<string>uni0394</string>
			<string>uni00B5</string>
			<string>uni04E9</string>
			<string>uni04EB</string>
			<string>macroncomb</string>
			<string>ogonekcomb</string>
			<string>macronbelowcomb</string>
			<string>circumflexbelowcomb</string>
			<string>brevebelowcomb</string>
			<string>tonos</string>
			<string>commaabovecomb</string>
			<string>cedillacomb</string>
			<string>dieresisacute</string>
			<string>tildebelowcomb</string>
			<string>uni0432.ss01</string>
			<string>uni0443.loclBGR</string>
			<string>Sdotbelow</string>
			<string>uni0443.ss01</string>
			<string>kturned</string>
			<string>hfishhookturned</string>
		</array>
	</dict>
</plist>
