<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>C</key>
  <string>C_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni0434</key>
  <string>uni0434.glif</string>
  <key>uni043B</key>
  <string>uni043B_.glif</string>
</dict>
</plist>
