<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>C</key>
  <string>C_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.cv01</key>
  <string>a.cv01.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>uni0251</key>
  <string>uni0251.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni0434</key>
  <string>uni0434.glif</string>
  <key>uni043B</key>
  <string>uni043B_.glif</string>
  <key>uni0446.loclBGR</key>
  <string>uni0446.loclB_G_R_.glif</string>
</dict>
</plist>
