<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Alpha</key>
  <dict>
    <key>nu</key>
    <integer>-25</integer>
  </dict>
  <key>chi</key>
  <dict>
    <key>omicron</key>
    <integer>-63</integer>
  </dict>
  <key>epsilontonos</key>
  <dict>
    <key>chi</key>
    <integer>-63</integer>
  </dict>
  <key>gamma</key>
  <dict>
    <key>lambda</key>
    <integer>-13</integer>
  </dict>
</dict>
</plist>
