<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.fontlab.layer.locked</key>
			<false/>
			<key>com.fontlab.layer.name</key>
			<string>public.background</string>
			<key>com.fontlab.layer.opacity</key>
			<integer>1</integer>
			<key>com.fontlab.layer.service</key>
			<true/>
			<key>com.fontlab.layer.visible</key>
			<true/>
			<key>com.fontlab.layer.wireframe</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.4.2
1655834501.8 C_.glif
1655834501.8 E_.glif
1655834501.8 N_.glif
1655834501.8 a.glif
1655834501.8 p.glif
1655834501.8 tilde.glif</string>
		</dict>
	</dict>
</plist>
