<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>E</key>
  <string>E_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>uni0251</key>
  <string>uni0251.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni0446.loclBGR</key>
  <string>uni0446.loclB_G_R_.glif</string>
</dict>
</plist>
