<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>aalt</key>
		<array>
			<string>Scedilla</string>
			<string>scedilla</string>
			<string>Tcedilla</string>
			<string>tcedilla</string>
			<string>uni0410</string>
			<string>uni0411</string>
			<string>uni0412</string>
			<string>uni0413</string>
			<string>uni0415</string>
			<string>uni0416</string>
			<string>uni0417</string>
			<string>uni0418</string>
			<string>uni0419</string>
			<string>uni041A</string>
			<string>uni041C</string>
			<string>uni041D</string>
			<string>uni041E</string>
			<string>uni041F</string>
			<string>uni0420</string>
			<string>uni0421</string>
			<string>uni0422</string>
			<string>uni0423</string>
			<string>uni0424</string>
			<string>uni0425</string>
			<string>uni0426</string>
			<string>uni0427</string>
			<string>uni0428</string>
			<string>uni0429</string>
			<string>uni042A</string>
			<string>uni042B</string>
			<string>uni042C</string>
			<string>uni042D</string>
			<string>uni042E</string>
			<string>uni042F</string>
		</array>
		<key>aalt2</key>
		<array>
			<string>Scommaaccent</string>
			<string>scommaaccent</string>
			<string>Tcedilla</string>
			<string>tcedilla</string>
			<string>uni0410.ss01</string>
			<string>uni0411.ss01</string>
			<string>uni0412.ss01</string>
			<string>uni0413.ss01</string>
			<string>uni0415.ss01</string>
			<string>uni0416.ss01</string>
			<string>uni0417.ss01</string>
			<string>uni0418.ss01</string>
			<string>uni0419.ss01</string>
			<string>uni041A.ss01</string>
			<string>uni041C.ss01</string>
			<string>uni041D.ss01</string>
			<string>uni041E.ss01</string>
			<string>uni041F.ss01</string>
			<string>uni0420.ss01</string>
			<string>uni0421.ss01</string>
			<string>uni0422.ss01</string>
			<string>uni0423.ss01</string>
			<string>uni0424.ss01</string>
			<string>uni0425.ss01</string>
			<string>uni0426.ss01</string>
			<string>uni0427.ss01</string>
			<string>uni0428.ss01</string>
			<string>uni0429.ss01</string>
			<string>uni042A.ss01</string>
			<string>uni042B.ss01</string>
			<string>uni042C.ss01</string>
			<string>uni042D.ss01</string>
			<string>uni042E.ss01</string>
			<string>uni042F.ss01</string>
		</array>
		<key>locl</key>
		<array>
			<string>uni0414</string>
			<string>uni041B</string>
			<string>uni0430</string>
			<string>uni0431</string>
			<string>uni0432</string>
			<string>uni0433</string>
			<string>uni0434</string>
			<string>uni0435</string>
			<string>uni0436</string>
			<string>uni0437</string>
			<string>uni0438</string>
			<string>uni0439</string>
			<string>uni043A</string>
			<string>uni043B</string>
			<string>uni043C</string>
			<string>uni043D</string>
			<string>uni043E</string>
			<string>uni043F</string>
			<string>uni0440</string>
			<string>uni0441</string>
			<string>uni0442</string>
			<string>uni0443</string>
			<string>uni0444</string>
			<string>uni0445</string>
			<string>uni0446</string>
			<string>uni0447</string>
			<string>uni0448</string>
			<string>uni0449</string>
			<string>uni044A</string>
			<string>uni044B</string>
			<string>uni044C</string>
			<string>uni044D</string>
			<string>uni044E</string>
			<string>uni044F</string>
			<string>uni045D</string>
		</array>
		<key>locl2</key>
		<array>
			<string>uni0414.locl</string>
			<string>uni041B.locl</string>
			<string>uni0430.locl</string>
			<string>uni0431.locl</string>
			<string>uni0432.locl</string>
			<string>uni0433.locl</string>
			<string>uni0434.locl</string>
			<string>uni0435.locl</string>
			<string>uni0436.locl</string>
			<string>uni0437.locl</string>
			<string>uni0438.locl</string>
			<string>uni0439.locl</string>
			<string>uni043A.locl</string>
			<string>uni043B.locl</string>
			<string>uni043C.locl</string>
			<string>uni043D.locl</string>
			<string>uni043E.locl</string>
			<string>uni043F.locl</string>
			<string>uni0440.locl</string>
			<string>uni0441.locl</string>
			<string>uni0442.locl</string>
			<string>uni0443.locl</string>
			<string>uni0444.locl</string>
			<string>uni0445.locl</string>
			<string>uni0446.locl</string>
			<string>uni0447.locl</string>
			<string>uni0448.locl</string>
			<string>uni0449.locl</string>
			<string>uni044A.locl</string>
			<string>uni044B.locl</string>
			<string>uni044C.locl</string>
			<string>uni044D.locl</string>
			<string>uni044E.locl</string>
			<string>uni044F.locl</string>
			<string>uni045D.locl</string>
		</array>
		<key>ss01</key>
		<array>
			<string>uni0410</string>
			<string>uni0411</string>
			<string>uni0412</string>
			<string>uni0413</string>
			<string>uni0414</string>
			<string>uni0415</string>
			<string>uni0416</string>
			<string>uni0417</string>
			<string>uni0418</string>
			<string>uni0419</string>
			<string>uni041A</string>
			<string>uni041B</string>
			<string>uni041C</string>
			<string>uni041D</string>
			<string>uni041E</string>
			<string>uni041F</string>
			<string>uni0420</string>
			<string>uni0421</string>
			<string>uni0422</string>
			<string>uni0423</string>
			<string>uni0424</string>
			<string>uni0425</string>
			<string>uni0426</string>
			<string>uni0427</string>
			<string>uni0428</string>
			<string>uni0429</string>
			<string>uni042A</string>
			<string>uni042B</string>
			<string>uni042C</string>
			<string>uni042D</string>
			<string>uni042E</string>
			<string>uni042F</string>
			<string>uni0430</string>
			<string>uni0431</string>
			<string>uni0432</string>
			<string>uni0433</string>
			<string>uni0434</string>
			<string>uni0435</string>
			<string>uni0436</string>
			<string>uni0437</string>
			<string>uni0438</string>
			<string>uni0439</string>
			<string>uni043A</string>
			<string>uni043B</string>
			<string>uni043C</string>
			<string>uni043D</string>
			<string>uni043E</string>
			<string>uni043F</string>
			<string>uni0440</string>
			<string>uni0441</string>
			<string>uni0442</string>
			<string>uni0443</string>
			<string>uni0444</string>
			<string>uni0445</string>
			<string>uni0446</string>
			<string>uni0447</string>
			<string>uni0448</string>
			<string>uni0449</string>
			<string>uni044A</string>
			<string>uni044B</string>
			<string>uni044C</string>
			<string>uni044D</string>
			<string>uni044E</string>
			<string>uni044F</string>
			<string>uni045D</string>
		</array>
		<key>ss012</key>
		<array>
			<string>uni0410.ss01</string>
			<string>uni0411.ss01</string>
			<string>uni0412.ss01</string>
			<string>uni0413.ss01</string>
			<string>uni0414.ss01</string>
			<string>uni0415.ss01</string>
			<string>uni0416.ss01</string>
			<string>uni0417.ss01</string>
			<string>uni0418.ss01</string>
			<string>uni0419.ss01</string>
			<string>uni041A.ss01</string>
			<string>uni041B.ss01</string>
			<string>uni041C.ss01</string>
			<string>uni041D.ss01</string>
			<string>uni041E.ss01</string>
			<string>uni041F.ss01</string>
			<string>uni0420.ss01</string>
			<string>uni0421.ss01</string>
			<string>uni0422.ss01</string>
			<string>uni0423.ss01</string>
			<string>uni0424.ss01</string>
			<string>uni0425.ss01</string>
			<string>uni0426.ss01</string>
			<string>uni0427.ss01</string>
			<string>uni0428.ss01</string>
			<string>uni0429.ss01</string>
			<string>uni042A.ss01</string>
			<string>uni042B.ss01</string>
			<string>uni042C.ss01</string>
			<string>uni042D.ss01</string>
			<string>uni042E.ss01</string>
			<string>uni042F.ss01</string>
			<string>uni0430.ss01</string>
			<string>uni0431.ss01</string>
			<string>uni0432.ss01</string>
			<string>uni0433.ss01</string>
			<string>uni0434.ss01</string>
			<string>uni0435.ss01</string>
			<string>uni0436.ss01</string>
			<string>uni0437.ss01</string>
			<string>uni0438.ss01</string>
			<string>uni0439.ss01</string>
			<string>uni043A.ss01</string>
			<string>uni043B.ss01</string>
			<string>uni043C.ss01</string>
			<string>uni043D.ss01</string>
			<string>uni043E.ss01</string>
			<string>uni043F.ss01</string>
			<string>uni0440.ss01</string>
			<string>uni0441.ss01</string>
			<string>uni0442.ss01</string>
			<string>uni0443.ss01</string>
			<string>uni0444.ss01</string>
			<string>uni0445.ss01</string>
			<string>uni0446.ss01</string>
			<string>uni0447.ss01</string>
			<string>uni0448.ss01</string>
			<string>uni0449.ss01</string>
			<string>uni044A.ss01</string>
			<string>uni044B.ss01</string>
			<string>uni044C.ss01</string>
			<string>uni044D.ss01</string>
			<string>uni044E.ss01</string>
			<string>uni044F.ss01</string>
			<string>uni045D.ss01</string>
		</array>
	</dict>
</plist>
