<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>f</key>
		<dict>
			<key>a</key>
			<integer>-27</integer>
			<key>c</key>
			<integer>-27</integer>
			<key>e</key>
			<integer>-27</integer>
			<key>o</key>
			<integer>-27</integer>
			<key>q</key>
			<integer>-27</integer>
			<key>r</key>
			<integer>-13</integer>
		</dict>
		<key>uni0413.ss01</key>
		<dict>
			<key>uni0414</key>
			<integer>-147</integer>
			<key>uni043B</key>
			<integer>-284</integer>
		</dict>
		<key>uni0433.locl</key>
		<dict>
			<key>uni0434.locl</key>
			<integer>-70</integer>
		</dict>
		<key>uni0443</key>
		<dict>
			<key>uni043B</key>
			<integer>-67</integer>
		</dict>
		<key>uni0445</key>
		<dict>
			<key>uni0430</key>
			<integer>-27</integer>
			<key>uni0435</key>
			<integer>-27</integer>
			<key>uni043B</key>
			<integer>82</integer>
			<key>uni043E</key>
			<integer>-27</integer>
		</dict>
		<key>y</key>
		<dict>
			<key>a</key>
			<integer>-27</integer>
			<key>c</key>
			<integer>-27</integer>
			<key>e</key>
			<integer>-27</integer>
			<key>o</key>
			<integer>-27</integer>
			<key>q</key>
			<integer>-27</integer>
		</dict>
	</dict>
</plist>
